<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- redisManager -->
    <bean id = "redisManager" class = "${redisManager}">
        <property name = "host" value = "${redisManager.host}"/>
        <property name = "port" value = "${redisManager.port}"/>
        <property name = "expire" value = "${redisManager.expire}"/>
        <property name = "password" value="${redisManager.password}"/>
        <property name = "timeout" value="${redisManager.timeout}"/>
    </bean>
</beans>